<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Create Class</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark textwarning text-warning align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>DASHBOARD</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="home.html"><i class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="create.html"><i class="fa fa-edit"></i><span>Create Class</span></a><a class="nav-link" href="manage.html"><i class="fa fa-th-list"></i><span>Manage Class</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="start.html"><i class="fas fa-play-circle"></i><span>Start Session</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><a class="navbar-brand" href="#"><strong>ONLINE CLASS MONITORING SYSTEM</strong></a>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">{{ instructor_name }}</span></a>
                                </div>
                            </li>
                         </ul><a href="logout.html"><button class="btn btn-primary" type="button">Log Out</button></a>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h4 class="text-dark mb-4"><strong>Create New Class</strong></h4>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-body">
                                    <form method="post" action="{{ url_for('create') }}">
                                        <div class="mb-3"><label class="form-label" for="address"><strong>NAME:&nbsp;</strong><br></label><input class="form-control" type="text" id="name" placeholder="Name" name="name"></div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="city"><strong>DATE : From (dd/mm/yyyy)</strong></label><input class="form-control" type="text" id="from_date" placeholder="DD/MM/YYYY" name="from_date"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="country"><strong>To : (dd/mm/yyyy)</strong></label><input class="form-control" type="text" id="to_date" placeholder="DD/MM/YYYY" name="to_date"></div>
                                            </div>
                                        </div>
                                        <div class="mb-3"></div>
                                        <button class="btn btn-primary text-start d-lg-flex" type="submit">Create</button>
                                    </form>
                                </div>
                                <div class="msg" align="center"><font color="red">{{ msg_incorrect }}</font></div>
                                <div class="msg" align="center"><font color="green">{{ msg }}</font></div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-5"></div>
                </div><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#"><span></span>
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"></div>
                </a>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"></div>
                </div>
            </footer>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>
